<%= form_for(@browser) do |f| %>
  <% if @browser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@browser.errors.count, "error") %> prohibited this browser from being saved:</h2>

      <ul>
      <% @browser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= semantic_form_for @browser do |f| %>
      <%= f.inputs :hostname %> 
      <%= f.input :partition_platforms, :as => :check_boxes %>
      <%= f.input :datacenter %>

      <%= f.buttons %>
    <% end %>

<% end %>
