<%= form_for(@browser) do |f| %>
  <% if @browser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@browser.errors.count, "error") %> prohibited this browser from being saved:</h2>

      <ul>
      <% @browser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
     <div id="browser_form">
       <%= semantic_form_for @browser do |f| %>  
         <%= f.input :hostname, :required => true, :label => false %> 
         <%= f.input :partition_platforms, :as => :check_boxes,:label => false %>
         <%= f.input :datacenter,:required => true,:label => false %>
         <%= f.buttons %>
       <% end %>
    </div>
<% end %>
