<h1>Listing browsers</h1>

<table>
  <tr>
    <th>Hostname</th>
    <th></th>
    <th></th>
  </tr>

<% @browsers.each do |browser| %>
  <tr>     
    <td><%= browser.hostname %></td>
    <td><%= link_to 'Show', browser %></td>
    <td><%= link_to 'Edit', edit_browser_path(browser) %></td>
    <td><%= link_to 'Destroy', browser, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Browser', new_browser_path %>
