<p id="notice"><%= notice %></p>

<div id="hostname">
  <label for="hostname">Browser:</label>
  <%= @browser.hostname %></td>
</div>
  <div id="ppid">
  <label for="ppid">PPID:</label>
  
    <%= @browser.partition_platforms.collect(&:ppid).join(",")%></td>
  </div>

    
    <%= render 'routing' %>


    <% if current_user.try(:admin?) %>     
      <%= link_to "Edit", edit_browser_path(@browser) %>
    <%end%>
      <%= link_to 'Back', browsers_path %>                       