<%= render :file => "/browsers/show.js.erb" %>

<p id="notice"><%= notice %></p>
<div id="hostname">
  <label for="hostname">Browser:</label>
  <%= @browser.hostname %></td>
</div>
  <div id="ppid">
    <table border="0" cellspacing="5" cellpadding="5">
      <thead>
        <th>PPID</th>
        <th>Description</th>
        <th>Network</th> 
        <th></th>
      </thead>
      <% @browser.partition_platforms.each do |e| %>
      <tr>
        <td><%= e.ppid %></td>
        <td><%= e.description.capitalize %></td>
        <td><%= e.network.name.capitalize %></td>
      </tr>
      <% end %>
    </table>
  </div>

    <%= render 'routing' %>

    <%= link_to "Edit", edit_browser_path(@browser) if true%>
    <%= link_to 'Back', browsers_path %>                       