<!DOCTYPE html>
<html>
<head>            
  <title>Dashboard</title>
  <%= javascript_include_tag :application, :cache => true %>  
  <%= stylesheet_link_tag :application %>
  
  <%= csrf_meta_tag %>
</head>
<body>
 <div id="header">
  User: <%= session[:current_user]['username'] %>
   </div>
   <div class="flash">
    <% flash.each do |type, message| -%>
       <div class="message <%= type %>">
         <p><%= message %></p>
       </div>
    <% end -%>
   </div>
   <div id="main">
    <%= yield %>
   </div>
 </body>
</html>
